
ul {

    margin: 10px 10px 10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {

    margin: 5px 10px 10px 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#section-header {
    color: darkblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 50px 50px 70px;
    background-color: lightblue;
    border: 3px black dotted;
    text-align: center;
}
.list-item1{
    text-align: left;
    background-color: lightsalmon;
    margin-right: 600px;
}
.list-item2{
    text-align: left;
    background-color: lightskyblue;
    margin-right: 200px;
}
#list-item3{
    text-align: left;
    background-color: lightseagreen;
    margin-right: 1400px;
}
#important{
    font-weight: bold;        
}